/* -------------------------------------------- HOME SECTION ------------------------------------------------- */

#Home {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;  /* This centers horizontally */
  /*justify-content: space-around;*/
  align-items: center;
  position: relative;
  height: 80vh;
  /*justify-content: space-between; /* This will adjust space between flex items */
  /*background-color: #ffffff;*/
  background-image:url('../image/3.jpg');
  background-size: cover; /* Or use 'contain', 'auto', or any specific size like '100% 100%' */
  background-position: top; /* Center the background image */
  background-repeat: no-repeat; /* Prevent the background from repeating */
}

.name-animation {
  font-size: 2em;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  animation: fadeIn 2s ease-in-out;
  color: #000000;
  white-space: nowrap;
  font-family: "Times New Roman", Times, serif;
  letter-spacing: 2px; /* Adjust the letter spacing as needed */
  line-height: 1.5; /* Adjust the line height as needed */
  font-weight: bold; /* Make the text bold */
}

.welcome-notes {
  font-size: 1.2em;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  animation: fadeIn 2s ease-in-out forwards;
  color: #000;  /* Adjust color to fit your design */
  text-align: center;
  animation-delay: 0.5s;
  opacity: 0;
  margin-bottom: 20px;  /* Space between the additional text and the info boxes */
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  font-family: "Times New Roman", Times, serif;
  letter-spacing: 2px; /* Adjust the letter spacing as needed */
  line-height: 1.5; /* Adjust the line height as needed */
  font-weight: bold; /* Make the text bold */
}

.info-box-container {
  opacity: 0;
  transform: translateX(100%);
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
  /*animation: slideInRight 1s forwards, fadeIn 1s forwards;*/
  margin-top: 190px;  /* Adjust this value to your preference */
}
.info-box-container.fly-in {
  opacity: 1;
  transform: translateX(0);
}
.info-box {
  width: 380px;
  height: 450px;
  background: #585555;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(1);
  opacity: 1;
  transition: transform 0.3s ease-in-out;
  margin: 0 20px; /* Space between boxes. Adjust as needed. */
  border-radius: 10px;
}

.info-box:hover {
  background-color: #ff5555;
  transform: scale(1.1);
}

.info-box img, .info-box video {
  width: 100%;
  height: 100%;
  object-fit: cover;  
  border-radius: 10px;
  /* This ensures the image or 
  video covers the entire content
   area without being stretched or squished */
}

/* Triple Down Arrow Styles - Start */
.scroll-downs {
  position: absolute;
  bottom: 20px;
  left: 90%;
  transform: translateX(-50%);
  text-align: center;
}

.mousey {
  display: block;
  margin: 0 auto;
  width: 25px;
  height: 45px;
  border: 2px solid black;
  border-radius: 14px;
  position: relative;
  box-sizing: border-box;
}


@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.fade-in {
  animation: fadeIn 3s ease-out;
}

@keyframes scroll {
  0% { opacity: 0; }
  30% { opacity: 1; }
  60% { opacity: 1; }
  100% { opacity: 0; top: 25px; }
}
/* Triple Down Arrow Styles - End */
