/* --- -----------------------------------------WORK SECTION--------------------------------------------- --- */
#Work {
    padding: 100px;
    background-color: #666565;
}

/* Ensure all work items are the same size */
.work-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Creates a 3-column layout */
    /*flex-wrap: wrap;*/
    gap: 40px; /* Space between the grid items */
}

.work-item {
    background: white;
    border-radius: 15px; /* Rounded corners */
    /*width: calc(30% - 0px); /* Adjust width as needed */
    height: 400px; /* Adjust height as needed */
    border: 1px solid #ddd;
    overflow: hidden; /* Keeps everything contained within the borders */
    position: relative; /* Allows absolute positioning inside */
    transition: transform 0.3s ease; /* Smooth transformation on hover */
    cursor: pointer;
    transition: transform 0.3s ease-in-out; /* Transition for the grow effect */
}
.work-item:hover {
    transform: scale(1.1); /* Scale up the work item on hover */
}
.work-item img, .work-item video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the media fits the box */
    border-radius: 15px; /* Rounded corners */
    object-position: center; /* Default position (center of the image) */
}
/* Overlay for hover effect */
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
    border-radius: 0 0 15px 15px; /* Rounded bottom corners */
}

/*.project-details {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    transform: translateY(100%);
    transition: transform 0.3s ease;
}*/

.work-item:hover .overlay{
    /*transform: scale(1.1); /*Scales up the item*/
    /*z-index: 10;  /*Makes sure it pops out over other items */
    height: 50%; /* Adjust height as needed */
}
.project-description {
    margin: 5px;
    font-style: italic; /* Make the text italic */
}

.project-title{
    margin: 5px;
    font-weight: bold; /* Make the text bold */
}